body{
	margin: 0;
	font-family: Arial, Halvetica, sans-serif;
}

/* Header */

.header-right{
	float: right;
}

header{
	overflow: hidden;
	padding: 20px 10px;
}

header a{
	float: left;
	color: black;
  	text-align: center;
  	padding: 12px;
  	text-decoration: none;
}

header a.logo{
  font-size: 25px;
  font-weight: bold;
}

header a:hover{
  color: blue;
}

.header a.active{
  color: silver;
}

/* Hero */
